.jumbotron{
    padding: 60px;
    background-color: #00c8eb;
    text-align: center;
    font-size: 20px;
    color: white;
}
h1{
    color:grey;
}
header{
    display: inline;
}
footer{
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}

.profile header{
    text-align: left;
}
.profile img{
    width: 150px;
}
main{
    padding: 20px;
    overflow: auto;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
  }